{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>مقالات پزشکی</title>
        <!-- Latest compiled and minified CSS -->
<link 
  rel="stylesheet"
  href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
  integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe"
  crossorigin="anonymous" />
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
             <div class="container">
                 <h1><a href="/">مقالات</a></h1>
              </div>
         </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>